<p class="empleado-componente">Nombre: {{ nombre }}</p>
<p class="empleado-componente">Apellido: {{ apellido }}</p>
<p class="empleado-componente">
  Edad: {{ edad < 18 ? "Menor de edad" : "Mayor de edad" }}
</p>
<p class="empleado-componente">Empresa: {{ empresa.value }}</p>

Introduce la empresa;
<input type="text" #empresa (keyup)="(0)" [disabled]="habilitacionCuadro" />

<br /><br />
<!-- <input type="button" value="dale!" (click)="llamaEmpresa(empresa.value)" /> -->
{{ textoDeRegistro }}
<br />
<br />
Registrado:
<input
  type="radio"
  name="nRegistro"
  id="registro"
  value="si"
  [checked]="usuRegistrado"
  (click)="setUsuarioRegistrado($event)"
/>

No Registrado:
<input
  type="radio"
  value="no"
  name="nRegistro"
  (click)="setUsuarioRegistrado($event)"
/>

{{ getRegistradoUsuario() }}
